body{
    font-family: sans-serif;
    font-size: 14px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
}

.section{
    background-color: #000;
    color: #fff;
    height: 36px;
    width: 36px;
    margin: 0px 7px 0px;
    padding: 5px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.9);
    transition: width 300ms ease-in-out 0s, 
  background-color 300ms linear 200ms;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;;
    height: 36px;
    aspect-ratio: 1;
}

a{
    text-decoration: none;
}

.section:hover{
    width: 140px;
    transition: width 300ms ease-in-out 0s, 
    background-color 100ms linear 0s;
}

.section::after{
    content: attr(tooltip);
    margin-left: 10px;
}

.facebook:hover{
    background: #365998;
}

.instagram:hover{ 
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.youtube:hover{ 
    background: #c40606; 
}

.twitter:hover{
    background: #55acee;
}

.github:hover{
    background: #6e5494;
}